body {
    font-family: "Open Sans", sans-serif;
    color: black;
  }
  
.account {
  text-align: center;
  margin-top: 20px;
}
.forget {
  color: black;
}
/* .hero-img{
    background-color: whitesmoke;
    justify-content: center;
    height: 70%;
} */
.welcome-section {
  padding: 150px;
  height: 100vh;
}

@media screen and (max-width: 998px) {
  img {
    display: none;
  }
  .welcome-section {
    padding: 150px 0px 0 0px;
  }
}
@media screen and (max-width: 1200px) {
  .welcome-section {
    padding: 150px 80px 0 80px;
  }
}

img {
  width: 400px;
  margin-top: 100px;
  background-color: white;
  justify-content: center;
  object-fit: cover;
}
.content-container {
  padding-left: 120px;
  padding-right: 120px;
}
.form-title {
    margin-bottom: 0 !important;
    font-weight: 500 !important;
}
.sign-in-btn:hover {
    background-color:  #0b4aa1 !important;
  }
  .si-google-btn:hover {
    background-color: rgb(239, 238, 238) !important;
  }